<!-- "Home.vue" 
nom? : nom d'origine de la page principale
type? : view 

J'ai choisi de gérer le positionnement ici, l'idée est que si 
ie me des éléments dans App.vue, l'élément construction suivra 
le mouvement.
Je pense changer des choses comme le <div class="home"> dont je
doute de l'utilité...
-->

<template>
  <div class="home">
    <v-container>
      <!-- tableau pour centrer Construction.vue -->

      <v-row no-gutters>
      
        <v-spacer></v-spacer>

        <v-col  cols="10" 
                md="5"
                sm="7"
                >

          <Construction />

          </v-col>
        <v-spacer></v-spacer>    
        </v-row>
      </v-container>
  </div>
</template>

<script>
import Construction from '@/components/Construction.vue'

export default {
  name: 'Home',
  components: {
    Construction
  }
}
</script>

<style scoped>
</style>