<!-- "Construction.vue" 
- nom? : Une boite de dialogue qui informe que le site est en construction
- type? : composant

Il s'agit essentiellement d'une <v-card>, au début elle était
au sein d'un tableau qui la positionnait, j'ai choisi de faire gérer
le positionnement par /views et de rendre à ce composant son rôle
-->

<template>
    
  <v-card class="brown darken-3 white--text py-9 
          rounded-lg mt-15"
          elevation="20">
    
    <v-container>
      <!-- Le tableau sert à positionner le texte et l'engrenage -->
      <v-row>
        <!-- Première ligne pour le texte -->
        <v-col cols="12">
          <!-- Une seule colonne, le texte est centré avec la class text-center -->
          <h2 class="text-center font-weight-light text-subtitle-1">
            Ce site est en construction
            </h2>
          </v-col>
        </v-row>

        <v-row class="mt-10">
          <!-- deuxieme ligne pour l'animation d'engrenage -->
          <v-spacer></v-spacer>

          <v-col cols="8">
            <!-- une colonne centrée, l'engrenage est un composant vue -->
            <Engrenage taille="45px" />

             </v-col>

          <v-spacer></v-spacer>

        </v-row>

      </v-container>
    </v-card>
      
</template>

<script>
import Engrenage from '@/components/Engrenage.vue';

  export default {
    name: 'Construction',
    components: {
      Engrenage
    },
  }
</script>

<style scoped>
/*
#bloc-xs {
  margin-top: 230px;  
}
#bloc-sm {
  margin-top: 90px;
}
#bloc-md {
  margin-top: 240px;
}
*/
</style>
