<!-- "Engrenage.vue"
nom? : Il s'agit de l'animation d'un engrenage qui tourne
type? : composant

je pense que je généraliserais à toute animation qui tourne si j'en 
ai besoin, pour le moment elle pointe vers l'image de roue dentée svg
que j'ai faite, et ce composant possède une propre pour la taille 
uniquement
-->

<template>
  <!-- chargement de l'image aux dimensions prises en charge plus bas --> 
  <v-img alt="roue dentée" 
         src="@/assets/rouedentee-4.svg"
        :max-height="taille"
        :max-width="taille"
        class="engrenage mx-auto mt-n6">
  </v-img>

</template>

<script>
export default {
  name: 'Engrenage',
  props: {
    taille: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* paramétrage de transparence et animation */
.engrenage {
  opacity: 0.62;
  animation: engrenage 2s infinite;
}
/* détail de l'animation */
@keyframes engrenage {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(180deg);
  }
}
</style>
