<!-- 
 Ce fichier est une copie de l'ancien composant "Construction.vue" !
 Il a permis de copier des morceaux de codes dans le nouveau pour
 remettre de l'ordre
 -->


<template>
  <v-container fluid>
      <!-- Ici un système très sale de div invisible pour
        les différentes tailles d'écran... Le tout pour positionner la
        seconde ligne du tableau contenant le visuel ! (honte)
        L'un des gros problème étant que en passant de manière
        continu d'une taille à une autre, le visuel sautait -->
    <v-row no-gutters>
      <div id="bloc-xs" class="hidden-sm-and-up">
        </div>

      <div id="bloc-sm" class="sm-only">
        </div>
      
      <div id="bloc-md" class="md-only">
        </div>
    </v-row>

    <v-row no-gutters>
      <!-- la line avec le visuel (<v-card>) centré
        entre deux <v-spacer> -->
      <v-spacer></v-spacer>

      <v-col  cols="10" 
              md="5"
              sm="7"
              >
          <v-card class="brown darken-3 white--text py-9 
                  rounded-lg"
                  elevation="20">
                <!-- l'essentiel de "Construction.vue" -->
              <v-container>
              <v-row>
                <v-col cols="12">
                <h2 class="text-center font-weight-light text-subtitle-1">
                  Ce site est en construction
                </h2>
                </v-col>
              </v-row>

              <v-row class="mt-10">

                <v-spacer></v-spacer>

                <v-col cols="8">

                  <!-- La colonne centrée contenant l'animation de 
                  l'engrenage ! -->

                    <Engrenage taille="45px" />

                  </v-col>

                <v-spacer></v-spacer>

                </v-row>

              </v-container>
          </v-card>
      </v-col>

    <v-spacer></v-spacer>
    
    </v-row>
  </v-container>

</template>

<script>
import Engrenage from '@/components/Engrenage.vue';

  export default {
    name: 'Construction',
    components: {
      Engrenage
    },
  }
</script>

<style scoped>
/*
#bloc-xs {
  margin-top: 230px;  
}
#bloc-sm {
  margin-top: 90px;
}
#bloc-md {
  margin-top: 240px;
}
*/
</style>
