<!-- "App.vue" 
<fichier principal>
-->

<template>
  <v-app>
    
    <!-- Le futur en-tête -->
    <header>
      </header>
        
    <!-- La futur navigation -->
    <nav>
      </nav>
        
    <!-- Le corps de la page, contient "Construction.vue"
    par le biais de /views -->
    <aside class="my-auto">
      <!-- my-auto centre verticalement aside aka "Construction.vue" -->
      <v-main>
        <router-view />
      </v-main>
      </aside>

    <!-- futur pied de page (bientôt)-->
    <footer>
      </footer>

  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>

<style scoped>
#app {
  background-image: url("./assets/fondecran_LIGHT.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* En mettant la position en top, j'ai réglé un soucis
  de troncage de l'image */
  background-position: top;
}

</style>
